.postComment
  margin-top: 10px
  padding: 10px 0

.commentHeader
  color: #868686
  display: flex
  justify-content: space-between

.authorName
  color: #000
  font-weight: 600
  // margin-left: 5px
  font-size: 25px

.commentText
  margin-top: 10px
