.postWrapper
  display: flex
  flex-flow: column nowrap
  background-color: var(--primary-block-bgc)
  border-radius: 5px
  width: 30%
  height: 200px
  margin: 10px
  overflow: hidden
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2)

.postTitle
  background-color: var(--primary-blue)
  padding: 10px
  font-size: 20px

.postDescription
  padding: 10px
  flex: 1

.detailsBtn
  cursor: pointer
  background-color: #f0f0f0
  border: none
  outline: none
  font-size: 16px
  padding: 5px
  text-decoration: none
  text-align: center
  &:hover
    background-color: #dbdbdb