.postWrapper
  background-color: var(--primary-block-bgc)
  border-radius: 5px
  width: 30%
  height: 200px
  margin: 10px
  overflow: hidden
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2)

.postTitle
  background-color: var(--primary-blue)
  padding: 10px
  font-size: 20px

.postDescription
  padding: 10px