.light-theme
  --primary-bgc: #e6e6e6
  --primary-block-bgc: #fff
  --primary-blue: #208df7
  --darker-blue: #2070cc
  --light-blue: #90c8ff

.dark-theme
  --primary-bgc: #000
  --primary-block-bgc: #fff
  --primary-blue: #208df7
  --darker-blue: #2070cc
  --light-blue: #6db2f6
