.profileWrapper
  display: flex
  flex-flow: column nowrap
  align-items: center
  background-color: var(--primary-block-bgc)
  border-radius: 15px
  width: 100%
  padding: 20px

.profileContainer
  width: 100%
  display: flex
  justify-content: space-between

.profileData
  width: 50%

.profileHeader
  font-size: 40px
  margin-bottom: 50px

.profileRow
  display: flex
  width: 100%
  margin-bottom: 30px

.buttonRow
  justify-content: space-between

.rowCaption
  display: flex
  align-items: center
  justify-content: flex-end
  width: 20%
  margin-right: 15px

.rowContent
  width: 100%
  background-color: #e9e9e9
  padding: 10px
  border-radius: 10px

.imgContainer
  width: 100%
  margin-left: 20px
  position: relative
  z-index: 5
  .profileImg
    border-radius: 10px
    width: 100%
    transition: all .3s
    z-index: 20
    cursor: pointer
    user-select: none
  .imgPlaceholder
    width: 100px
    height: 100px
    position: absolute
    z-index: -1
    left: 40%

.scaled
  transform: scale(300%) translateX(-20%) translateY(10%)
  box-shadow: 0px 0px 8px 120px rgba(0, 0, 0, 1)
